// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
.symbols-list {
    width: 200px;
}

.symbols-list .panel-resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 3;
}

.symbols-list atom-text-editor[mini],
.symbols-list atom-text-editor[mini].is-focused,{
    height: 33px;
    line-height: 33px;
    box-shadow: none;
    border-radius: 0;
    font-family: inherit;
    max-height: 33px;
    border: 0;
}

.symbols-list .editor-contents--private{
    height: 33px !important;
    line-height: 33px;
}
.symbols-list .cursors .cursor{
    height: 16px !important;
    top: 9px;
}

.symbols-list .error-message,
.symbols-list .loading{
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
.symbols-list .error-message{
    background: #700;
}
.symbols-list .select-list ol.list-group{
    position: absolute;
    max-height: none;
    top: 33px;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}
.symbols-list .list-group li{
    padding: 2px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.symbols-list .list-group li:hover{
    color: @text-color-highlight;
    background-color: fade(#4182C4, 20%);
    cursor: pointer;
}
.symbols-list span.pastille{
    position: relative;
    height: 15px;
    width: 15px;
    margin-right: 6px;
    line-height: 14px;
    display: inline-block;
    vertical-align: sub;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,.5);
}
.symbols-list span.pastille::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
}

.symbols-list .list-item-commentaire,
.symbols-list .list-item-commentaire_multi,
.symbols-list .list-item-commentaire_html{ background: #888 }
.symbols-list .list-item-commentaire::before,
.symbols-list .list-item-commentaire_multi::before,
.symbols-list .list-item-commentaire_html::before{ content: "/"; color: #DDD;}
.symbols-list .list-item-todo{ background: #888 }
.symbols-list .list-item-todo::before{ content: "T"; color: #DDD;}
.symbols-list .list-item-fixme{ background: #dd0000 }
.symbols-list .list-item-fixme::before{ content: "!"; color: #FFF;}
.symbols-list .list-item-hack{ background: #7c0000 }
.symbols-list .list-item-hack::before{ content: "!"; color: #FFF;}
.symbols-list .list-item-function{ background: #3996e3 }
.symbols-list .list-item-protected_function{ background: #e39339 }
.symbols-list .list-item-private_function{ background: #e35139 }
.symbols-list .list-item-function::before,
    .symbols-list .list-item-protected_function::before,
    .symbols-list .list-item-private_function::before{ content: "F"; color: #FFF;}
.symbols-list .list-item-attr{ background: #3996e3 }
.symbols-list .list-item-attr::before{ content: "A"; color: #FFF;}
.symbols-list .list-item-filter{ background: #839595 }
.symbols-list .list-item-filter::before{ content: "f"; color: #FFF;}
.symbols-list .list-item-classmethod,
.symbols-list .list-item-method,
.symbols-list .list-item-es6_field_method,
.symbols-list .list-item-es6_method,
.symbols-list .list-item-es6_async_method,
.symbols-list .list-item-es6_static_method{ background: #823da2 }
.symbols-list .list-item-es6_async_method::before{ content: "A"; color: #FFF;}
.symbols-list .list-item-es6_static_method::before{ content: "S"; color: #FFF;}
.symbols-list .list-item-classmethod::before,
.symbols-list .list-item-method::before{ content: "M"; color: #FFF;}
.symbols-list .list-item-instancemethod{ background: #b15edb }
.symbols-list .list-item-instancemethod::before{ content: "I"; color: #FFF;}
.symbols-list .list-item-methode_statique{ background: #823da2 }
.symbols-list .list-item-methode_statique::before{ content: "::"; color: #FFF;}
.symbols-list .list-item-class,
.symbols-list .list-item-class_named_expression,
.symbols-list .list-item-class_expression{ background: #ee8a1e }
.symbols-list .list-item-class::before,
.symbols-list .list-item-class_named_expression::before,
.symbols-list .list-item-class_expression::before{ content: "C"; color: #FFF;}
.symbols-list .list-item-struct,
.symbols-list .list-item-struct_named_expression,
.symbols-list .list-item-struct_expression{ background: #ee8a1e }
.symbols-list .list-item-struct::before,
.symbols-list .list-item-struct_named_expression::before,
.symbols-list .list-item-struct_expression::before{ content: "S"; color: #FFF;}
.symbols-list .list-item-enum,
.symbols-list .list-item-enum_named_expression,
.symbols-list .list-item-enum_expression{ background: #ee8a1e }
.symbols-list .list-item-enum::before,
.symbols-list .list-item-enum_named_expression::before,
.symbols-list .list-item-enum_expression::before{ content: "E"; color: #FFF;}
.symbols-list .list-item-union,
.symbols-list .list-item-union_named_expression,
.symbols-list .list-item-union_expression{ background: #ee8a1e }
.symbols-list .list-item-union::before,
.symbols-list .list-item-union_named_expression::before,
.symbols-list .list-item-union_expression::before{ content: "U"; color: #FFF;}
.symbols-list .list-item-module{ background: #ee8a1e }
.symbols-list .list-item-module::before{ content: "M"; color: #FFF;}
.symbols-list .list-item-constant{ background: #484748 }
.symbols-list .list-item-constant::before{ content: "C"; color: #FFF;}
.symbols-list .list-item-controller{ background: #46A8E8 }
.symbols-list .list-item-controller::before{ content: "c"; color: #FFF;}
.symbols-list .list-item-structure{ background: #258fa3 }
.symbols-list .list-item-structure::before{ content: "•"; color: #FFF;}
.symbols-list .list-item-setter{ background: #3053ad }
.symbols-list .list-item-setter::before{ content: "S"; color: #FFF;}
.symbols-list .list-item-getter{ background: #3053ad }
.symbols-list .list-item-getter::before{ content: "G"; color: #FFF;}
.symbols-list .list-item-entete{ background: #edba22 }
.symbols-list .list-item-entete::before{ content: "H"; color: #333;}
.symbols-list .list-item-anchor{ background: #de691a }
.symbols-list .list-item-anchor::before{ content: "#"; color: #FFF;}
.symbols-list .list-item-package{ background: #edba22 }
.symbols-list .list-item-package::before{ content: "P"; color: #333;}
.symbols-list .list-item-use{ background: #3996e3 }
.symbols-list .list-item-use::before{ content: "U"; color: #FFF;}
.symbols-list .list-item-our{ background: #3053ad }
.symbols-list .list-item-our::before{ content: "O"; color: #FFF;}
.symbols-list .list-item-subroutine{ background: #823da2 }
.symbols-list .list-item-subroutine::before{ content: "S"; color: #FFF;}
.symbols-list .list-item-blade_section{ background: #a27eae }
.symbols-list .list-item-blade_section::before{ content: "@"; color: #000; font-size: 12px !important;}
.symbols-list .list-item-twig_block{ background: #a27eae }
.symbols-list .list-item-twig_block::before{ content: "%"; color: #000;}
.symbols-list .list-item-twig_macro{ background: #8bc34a }
.symbols-list .list-item-twig_macro::before{ content: "M"; color: #1b5e20;}
.symbols-list .list-item-vue_template{ background: #673ab7 }
.symbols-list .list-item-vue_template::before{ content: "<>"; color: #FFF; font-weight:normal; }
.symbols-list .list-item-vue_script{ background: #9c27b0 }
.symbols-list .list-item-vue_script::before{ content: "( )"; color: #FFF; font-weight:normal;}
.symbols-list .list-item-vue_style{ background: #e91e63 }
.symbols-list .list-item-vue_style::before{ content: "{ }"; color: #FFF; font-weight:normal; }
.symbols-list .list-item-vue_properties,
.symbols-list .list-item-vue_prop_methods{ background: #3e4145 }
.symbols-list .list-item-vue_properties::before,
.symbols-list .list-item-vue_prop_methods::before{ content: "•"; color: #FFF;}
.symbols-list .list-item-vue_hooks{ background: #20b684 }
.symbols-list .list-item-vue_hooks::before{
    content: "ˁ"; color: #FFF; font-size: 20px !important; line-height: 20px !important; font-weight: lighter; }

.symbols-list .list-item-scss_mixin{ background: #8bc34a }
.symbols-list .list-item-scss_mixin::before{ content: "m"; color: #1b5e20; font-size: 12px !important;}
.symbols-list .list-item-scss_tag_rule{ background: #e06c75 }
.symbols-list .list-item-scss_tag_rule::before{ content: "<>"; color: #530707; font-size: 8px !important;}
.symbols-list .list-item-scss_class_rule{ background: #d19a66 }
.symbols-list .list-item-scss_class_rule::before{ content: "•"; color: #3e1b08; font-size: 12px !important;}
.symbols-list .list-item-scss_id_rule{ background: #61afef }
.symbols-list .list-item-scss_id_rule::before{ content: "R"; color: #1b5e20; font-size: 12px !important;}
.symbols-list .list-item-scss_tag_rule + .list-item,
.symbols-list .list-item-scss_class_rule + .list-item,
.symbols-list .list-item-scss_id_rule + .list-item{ white-space: pre-wrap; }

.symbols-list .list-item-latex_chapter{ background: #9c27b0 }
.symbols-list .list-item-latex_chapter::before{ content: "•"; color: #fff; font-size: 14px !important;}
.symbols-list .list-item-latex_section{ background: #3f51b5 }
.symbols-list .list-item-latex_section::before{ content: "⋅"; color: #fff; font-size: 18px !important; line-height: 14px !important;}
.symbols-list .list-item-latex_subsection{ background: #03a9f4 }
.symbols-list .list-item-latex_subsection::before{ content: "∶"; color: #fff; font-size: 18px !important; line-height: 10px !important;}
.symbols-list .list-item-latex_subsubsection{ background: #009688 }
.symbols-list .list-item-latex_subsubsection::before{ content: "∴"; color: #fff; font-size: 18px !important; line-height: 10px !important;}

.symbols-list .list-item-tree_level_one{ background: #519fee }
.symbols-list .list-item-tree_level_one::before{ content: "⋅"; color: #fff; font-size: 18px !important; line-height: 14px !important;}
.symbols-list .list-item-tree_level_two{ background: #5a7da0 }
.symbols-list .list-item-tree_level_two::before{ content: "∶"; color: #fff; font-size: 18px !important; line-height: 10px !important;}
.symbols-list .list-item-tree_level_three{ background: #324e69 }
.symbols-list .list-item-tree_level_three::before{ content: "∴"; color: #fff; font-size: 18px !important; line-height: 10px !important;}
.symbols-list .list-item-tree_path{ background: #ff6347 }
.symbols-list .list-item-tree_path::before{ content: "/"; color: #fff; font-size: 10px !important;}
.symbols-list .list-item-mocha_describe {background-color: #00cec9;}
.symbols-list .list-item-mocha_describe::before {content: 'D'; color: #21252b;}
.symbols-list .list-item-mocha_it {background-color: #ffeaa7;}
.symbols-list .list-item-mocha_it::before {content: 'IT'; color: #21252b;}
