// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.symbols-list {
    width: 200px;
}
    .symbols-list atom-text-editor[mini],
    .symbols-list atom-text-editor[mini].is-focused,{
        height: 33px;
        line-height: 33px;
        box-shadow: none;
        border-radius: 0;
        font-family: inherit;
    }
    .symbols-list .editor-contents--private{
        height: 33px !important;
        line-height: 33px;
    }
    .symbols-list .cursors .cursor{ height: 33px !important;}

.symbols-list .error-message,
.symbols-list .loading{
    padding: 10px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
.symbols-list .error-message{
    background: #700;
}
.symbols-list.select-list ol.list-group{
    position: absolute;
    max-height: none;
    top: 33px;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}
.symbols-list .list-group li{
    padding: 2px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.symbols-list .list-group li:hover{
    color: @text-color-highlight;
    cursor: pointer;
}
.symbols-list span.pastille {
    position: relative;
    height: 14px;
    width: 14px;
    margin-right: 6px;
    line-height: 14px;
    display: inline-block;
    vertical-align: sub;
    border-radius: 2px;
    font-weight: bold;
}
.symbols-list span.pastille::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
}
.symbols-list .list-item-commentaire,
.symbols-list .list-item-commentaire_multi,
.symbols-list .list-item-commentaire_html{ background: #888 }
.symbols-list .list-item-commentaire::before,
.symbols-list .list-item-commentaire_multi::before,
.symbols-list .list-item-commentaire_html::before{ content: "#"; color: #DDD;}
.symbols-list .list-item-function{ background: #3996e3 }
.symbols-list .list-item-function::before{ content: "F"; color: #FFF;}
.symbols-list .list-item-filter{ background: #839595 }
.symbols-list .list-item-filter::before{ content: "f"; color: #FFF;}
.symbols-list .list-item-method{ background: #823da2 }
.symbols-list .list-item-method::before{ content: "M"; color: #FFF;}
.symbols-list .list-item-class{ background: #ee8a1e }
.symbols-list .list-item-class::before{ content: "C"; color: #FFF;}
.symbols-list .list-item-constant{ background: #484748 }
.symbols-list .list-item-constant::before{ content: "C"; color: #FFF;}
.symbols-list .list-item-controller{ background: #46A8E8 }
.symbols-list .list-item-controller::before{ content: "c"; color: #FFF;}
.symbols-list .list-item-structure{ background: #258fa3 }
.symbols-list .list-item-structure::before{ content: "•"; color: #FFF;}
.symbols-list .list-item-entete{ background: #edba22 }
.symbols-list .list-item-entete::before{ content: "H"; color: #333;}
